<%- include("header") %>
<div class="pad">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <input type="text" />
    <button type="submit">Publish</button>
  </form>
</div>
<%- include("footer") %>
