<%- include("header") %>
<div class="pad">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <h4>Title</h4>
    <input type="text" name="inpTitle" />
    <h4>Post</h4>
    <textarea name="inp" rows="15" cols="138"></textarea>
    <button type="submit">Publish</button>
  </form>
</div>
<%- include("footer") %>
