<%- include("header") %>
<div class="form-group pad">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <label>Title</label>
    <input class="form-control" type="text" name="inpTitle" />
    <label>Post</label>
    <textarea class="form-control" name="inp" rows="15" cols="110"></textarea>
    <button  type="submit">Publish</button>
  </form>
</div>
<%- include("footer") %>
